.note--container {
    border: .2em solid black;
    min-width: 30em;
    width: 30em;
    margin: 1em;
    border-radius: 1em;
    overflow-y: scroll;
    box-shadow: .75em .75em .5em rgb(200, 202, 202);
}
